/* GENERAL SETTINGS START */


/* :root {
  --main-bg-color: #2F1C4C;
  --secondary-bg-color: #463263;
  --regular-text-color: white;
  --heading-text-color: #E5BE7D;
  --success-color: #abd79f;
  --failure-color: #ff5252;
  --default-font-size: 18px;
  --default-font-family: 'Roboto', sans-serif;
  --default-font-weight: 400;
  --default-border-radius: 5px;
  --default-transition-speed: 200ms;
  --default-padding: 10px;
} */

:root {
  --main-bg-color: white;
  --secondary-bg-color: #E5BE7D;
  --heading-text-color: #2F1C4C;
  --regular-text-color: black;
  --secondary-text-color: #463263;
  --success-color: #abd79f;
  --failure-color: #ff5252;
  --default-font-size: 18px;
  --default-font-family: 'Roboto', sans-serif;
  --default-font-weight: 400;
  --bold-font-weight: 500;
  --default-border-radius: 5px;
  --default-transition-speed: 200ms;
  --default-padding: 10px;
}

* {
  font-family: var(--default-font-family) !important;
  transition: var(--default-transition-speed);
}

body {
  background-color: var(--main-bg-color);
  color: var(--regular-text-color);
  margin: 0;
  font-size: var(--default-font-size);
  font-family: var(--default-font-family);
}

h4,
h5 {
  margin: 0 !important;
}

b,
strong {
  font-weight: var(--bold-font-weight);
}

input[type=text] {
  width: 100%;
  padding: 0 10px;
  line-height: 2.5;
  border: 1px solid #ccc;
  border-radius: var(--default-border-radius);
  transition: var(--default-transition-speed);
}

input:focus {
  outline: none;
}

input[type=password] {
  width: 100%;
  padding: 0 10px;
  line-height: 2.5;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: 200ms;
}

button,
.button {
  background-color: white;
  border: 0px;
  border-radius: 5px;
  padding: 10px 20px;
  font-family: 'Roboto';
  font-size: 0.8rem;
}

a.wrapper {
  text-decoration: none;
}

button:hover,
a:hover {
  cursor: pointer;
}

#__next {
  overflow-x: visible !important;
}

.container {
  padding: 20px;
  border-radius: 5px;
  overflow: hidden;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.icon-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: .8rem;
  cursor: pointer;
}

.circleText {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 2px 4px 5px 5px rgba(0, 0, 0, 0.2);
}

.clear-btn {
  background-color: transparent;
  border: none;
  padding: 0px;
  cursor: pointer;
}

.notification-container {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: transparent;
  width: 100%;
  color: var(--main-bg-color);
}

.notification-content {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--heading-text-color);
}

.notification-title {
  font-weight: 500;
}


/* GENERAL SETTINGS END */