/* GENERAL SETTINGS START */
:root {
  --main-bg-color: #2F1C4C;
  --secondary-bg-color: #463263;
  --regular-text-color: white;
  --heading-text-color: #E5BE7D;
  --default-font-size: 18px;
  --default-font-family: "Roboto", sans-serif;
  --default-font-weight: 400;
  --default-border-radius: 5px;
  --default-transition-speed: 200ms;
  --default-padding: 10px;
}
body {
  background-color: var(--main-bg-color) !important;
  margin: 0;
  font-size: var(--default-font-size);
  font-family: var(--default-font-family);
}
h4, h5 {
  margin: 0 !important;
}
input[type=text] {
  width: 100%;
  padding: 0 10px;
  line-height: 2.5;
  border: 1px solid #ccc;
  border-radius: var(--default-border-radius);
  transition: var(--default-transition-speed);
}
input:focus {
  outline: none;
}
input[type=password] {
  width: 100%;
  padding: 0 10px;
  line-height: 2.5;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: 200ms;
}
button, .button {
  background-color: white;
  border: 0px;
  border-radius: 5px;
  padding: 10px 20px;
  font-family: 'Roboto';
  font-size: 0.8rem;
}
button.flat, .button.flat {
  box-shadow: none;
  border: 1px solid #ccc;
}
a.button {
  text-decoration: none;
  color: black;
}
button:hover, a:hover {
  cursor: pointer;
}
.input-container {
  width: 250px;
}
.input-container.fill {
  width: 100%;
}
.input-helper-text {
  color: #666666;
  font-size: small;
  font-style: italic;
}
#__next {
  overflow-x: visible !important;
}
.container {
  padding: 20px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 15px 0 rgba(0,0,0,.1);
}
.flex-wrap-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gpay-card-info-container {
  min-width: 100% !important;
}
/* GENERAL SETTINGS END */

/* Navbar css BEGIN */
.navbar {
  padding: 20px;
  font-size: 30px;
  background-color: var(--main-bg-color);
  color: white;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.navbar-row {
  padding: 10px 20px;
  -webkit-justify-content: space-between !important;
  -moz-box-pack: justify !important;
  justify-content: space-between !important;
  width: 100%;
  background: white;
  box-shadow: 0 0 15px 0 rgba(0,0,0,.1);
}
.left-nav-container {
  display: flex;
}
.right-nav-container {
  display: flex;
}
.hamburger-nav {
  display: none;
}
@media (max-width: 550px) {
  .left-links-container {
    display: none;
  }
  .hamburger-nav {
    display: block;
    margin-left: 10px;
  }
}
.left-nav-container > .brand-name {
  font-weight: 500;
}
.left-nav-container > .brand-name:hover {
  background-color: transparent !important;
}
.left-nav-container  a {
  color: black !important;
  margin-right: 10px;
}
.left-nav-container a.active {
  background-color: rgba(50, 50, 50, 0.1);
}
.left-nav-container a:hover {
  background-color: rgba(50, 50, 50, 0.1) !important;
}
/* Navbar css END */

/* Footer css BEGIN */
.footer {
  width: 100%;
}
.copyright-statement > a {
  color: #666666;
}
.copyright-statement > a:hover {
  text-decoration: underline;
}
/* Footer css END */

/* Misc css START */
.err-msg {
  color: darkred;
  font-size: small;
  font-style: italic;
}
/* Misc css END */

/* Shop css START */
.item-card {
  display: flex;
  width: 450px;
  height: 200px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  transition: 200ms;
  position: relative;
}
.item-card:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}
.item-card:hover .item-card-img {
  transform: scale(1.1);
}
.item-card-img-container {
  width: 45%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.item-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 700ms;
}
.item-card-details-container {
  width: 55%;
  border-radius: 0px 5px 5px 0px;
  padding: 10px;
}
.item-card-title {
  color: black;
}
.item-card-title:hover {
  text-decoration: underline;
}
.add-to-cart-btn {
  width: 100%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.item-card-discount-tag {
  position: absolute;
  top: 5%;
  padding: 0 10px;
  background-color: #8aff79;
  clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
  z-index: 1;
}
.cart-pay-btn-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}
/* Shop css END */

/* MOBILE SCREEN SIZE START */
@media (max-width: 550px) {
  .left-links-container {
    display: none;
  }
  .hamburger-nav {
    display: block;
    margin-left: 10px;
  }
  .item-card {
    display: block;
    width: max-content;
    height: max-content;
  }
  .item-card-img-container {
    width: 100%;
    height: 200px;
    position: relative;
  }
  .item-card-details-container {
    width: 100%;
  }
}
/* MOBILE SCREEN SIZE END */



.flex-between {
  display: flex;
  justify-content: space-between;
}
.vertical-center {
  display: flex;
  align-items: center;
}

.icon-btn {
  background-color: transparent;
  border: none;
  padding: 0px;
  font-size: 0.8rem;
  cursor: pointer;
}

.search-btn img {
  width: 30px;
  height: 30px;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--main-bg-color);
}
.hamburger-menu a, .hamburger-menu div {
  font-size: 24px;
  padding: 25px;
  text-align: center;
  color: var(--regular-text-color);
  text-decoration: none;
}
.hamburger-menu div {
  background-color: var(--main-bg-color);
}
.hamburger-menu a:nth-child(2n) {
  background-color: var(--secondary-bg-color);
}

.feed-container {
  padding: 0px 20px;
  padding-bottom: 20px;
  max-height: calc(100vh - 110px);
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.rekkcard {
  border-radius: 5px;
  font-size: 16px;
  color: var(--regular-text-color);
  background-color: var(--secondary-bg-color);
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
}